/* #portfolio section {
    padding-left: 15px;
    padding-right: 15px;
} */
.portfolio figure img {
    width: 100%;
}
.item-content {
    background-color: bisque;
    height: 90%;
    margin: 15px;
    border-radius: 5px;
}