.profile-container, .about-me, .resume { 
    padding-top: 75px;
    padding-bottom: 55px;
}
.profile-container, .about-me, .skills, .resume, .portfolio {
    /* background: url(/alina-kovaleva.github.io/images/bg.png) #fafafa; */
}
.about-me .section-content {
    width: 95%;
}
.section-title {
    text-align: center;
}
.develop ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}
.skills-section {
    background-color: beige;
    border-style: ridge; 
}
.section-content {
    padding: 20px;
    min-height: 100%;
}

.languages ul {
    text-align: center;
    list-style: none;
}
/*----------------------------- Footer -----------------------------*/ 
footer .footer{
    background: #1e1e1e;
    min-height: 70px;
    color: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    line-height: 72px;
}

footer .footer .name{
    color: #fff;
    font-size: 15px;
}

footer .footer .copyright{
    color: #9c9c9c;
    font-size: 12px;
    text-align: right;
}