.profile-container, .about-me, .skills, .resume { 
    padding-top: 55px;
}
.profile-container {
    background: #E9E4E4;
}
.about-me {
    background-color: blanchedalmond;
}
.section-title {
    text-align: center;
}

.develop ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}
.skills-section {
    background-color: beige;
    border-style: ridge; 
}
.section-content {
    
    padding: 20px;
    min-height: 100%;
}

.languages ul {
    text-align: center;
    list-style: none;
}